{% extends 'member/base.html' %}

{% block title %}회원상세{% endblock %}
{% block h1 %}회원상세{% endblock %}

{% block content %}
    <!-- 타겟회원 못찾았을때 -->
    {% if target_mem == 0 %}
    <div>{{msg}}</div>
    {% endif %}
    
    <!-- 타겟회원 찾았을때 -->
    {% if target_mem != 0 %}
    <div>회원ID : {{target_mem.mid}}</div>
    <div>회원이름 : {{target_mem.mnm}}</div>
    {% endif %}
    <div> <a href="/member/update_form/{{target_mem.mid}}">수정하기</a> </div>
    <div> <a href="/member/delete_form/{{target_mem.mid}}">삭제하기</a> </div>
{% endblock %}