{% extends 'member/base.html' %}

{% block title %}회원수정폼{% endblock %}
{% block h1 %}회원수정폼{% endblock %}

{% block content %}
    <form action="/member/update_action" method="POST">
        아이디 : 
        <input type="text" name="mid" value="{{mem.mid}}" readonly><br>
        이름 : 
        <input type="text" name="mnm" value="{{mem.mnm}}"><br>
        비밀번호: 
        <input type="password" name="mpw"  value="{{mem.mpw}}"><br>
        <input type="submit" value="회원수정">
        <input type="button" onclick="history.back()" value="수정 취소">
    </form>
{% endblock %}