<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연락처등록</title>
</head>
<body>
    <h1>연락처등록폼</h1>
    <div> <a href="/contact/list">목록</a> </div>
    <form action="/contact/insert_action" method="POST">
        이름 : 
        <input type="text" name="name"><br>
        전화 : 
        <input type="text" name="tel"><br>
        이메일 : 
        <input type="text" name="email"><br>
        회사명 : 
        <input type="text" name="company"><br>
        부서명 : 
        <input type="text" name="buseo"><br>
        직급 : 
        <input type="text" name="jikgup"><br>
        <input type="submit" value="연락처 등록">
    </form>
</body>
</html>