<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원삭제</title>
</head>
<body>
    <h1>회원삭제폼</h1>
    <div> <a href="/member/list">목록</a> </div>
    <form action="/member/delete_action" method="POST">
        아이디 : 
        <input type="text" name="mid" value="{{mem.mid}}" readonly><br>
        이름 : 
        <input type="text" name="mnm" value="{{mem.mnm}}"><br>
        삭제하려는 회원의 비밀번호를 입력하세요 : <br>
        <input type="password" name="mpw" ><br>
        <input type="submit" value="회원삭제">
        <input type="button" onclick="history.back()" value="삭제 취소">
    </form>
</body>
</html>